/*
    Style Guide
    1. Header
    2. Responsive desing
*/

/*--------- 1. Header --------*/
#root{
    display: flex;
    flex-direction: column;
}
.Header{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: white;
}
.Header-container{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.Header-title{
    margin-left: 10px;
}
.Header-cart-items-num{
    width: 20px;
    height: 20px;
    background-color: red;
    font-size: 13px;
    border-radius: 100%;
    color: white;
    position: relative;
    left: 20px;
    bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-cart a {
    text-decoration: none;
    color: black;
}

/*--------- 2. Responsive desing --------*/

@media only screen and (max-width:500px){
    .Header-cart{
        margin-right: 10px;
    }
}