/*
    Style guide
    1.Thanks-main
*/

.Thanks-main{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 300px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Thanks-main h2{
    margin: 10px;
}
.Thanks-main h3{
    margin: 10px;
}
.Thanks-p{
    font-size: 20px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
}
.Button{
    width: 110px;
    padding: 5px;
    background-color: #1A73E8;
    border-color: #1A73E8;
    border-radius: 2px;
    color:white;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}