/* Style Guide
    1. Home-main
*/

/*-------- 1. Home-main --------*/

.Home-main{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    margin-top: 20px;
}
.Home-empty{
    text-align: center;
    margin: 10px;
}
.Home-sort{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
#sort-products{
    width: 110px;
    margin-left:10px;
    outline: none;
}
.Home-products{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Home-product{
    width: 47.5%;
    height: 200px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.Home-img{
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Home-description{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.Home-descriptionItem{
    flex: 1;
}
.Home-productCategory{
    font-size: 12px;
}
.Home-productDescription{
    font-size: 14px;
    margin-top: 10px;
}
.Home-buy-price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Button{
    width: 110px;
    padding: 5px;
    background-color: #1A73E8;
    border-color: #1A73E8;
    border-radius: 2px;
    color:white;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.Home-price{
    font-weight: bold;
}


.Home-pagination{
    width: 80%;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.Home-pagination a {
    text-decoration: none;
    color: black;
}
.Home-box-pagination{
    width: 50px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}
.Home-box-current{
    background-color: #1A73E8;
    color: white;
}
.Home-box-pagination a{
    text-decoration: none;
    color:  black;
    
}